
  
<form [formGroup]="form" (ngSubmit)="onReset()">
  <mat-card>
    <mat-card-title>{{ 'custom.auth.reset-password.title' | translate }}</mat-card-title>

              
      <div class="row">
        <mat-form-field class="col">
          <input matInput placeholder="{{ 'custom.auth.otp-verify.otpCode-label' | translate }}"
            formControlName="otpCode">
          <mat-error *ngIf="form.get('otpCode')?.hasError('required')">
            
            {{ 'custom.auth.otp-verify.error1' | translate }}
          </mat-error>
          
        </mat-form-field>
      </div>

      <!--
        PASSWORD ////////////////////////////////////////////////////////////////
      -->
      <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('minlength')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ form.get('pwd').hasError('required') ||
          form.get('pwd').hasError('minlength') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'custom.auth.sign-up.error-pwd-length' | translate }}
      </label>
    
      <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasNumber')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ form.get('pwd').hasError('required') ||
          form.get('pwd').hasError('hasNumber') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'custom.auth.sign-up.error-pwd-number' | translate }}
      </label>
      
      <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ form.get('pwd').hasError('required') ||
          form.get('pwd').hasError('hasCapitalCase') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'custom.auth.sign-up.error-pwd-capital' | translate }}
      </label>

      <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ form.get('pwd').hasError('required') ||
          form.get('pwd').hasError('hasSmallCase') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'custom.auth.sign-up.error-pwd-small' | translate }}
      </label>

      <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ form.get('pwd').hasError('required') ||
          form.get('pwd').hasError('hasSpecialCharacters') ? 'cancel' :
          'check_circle' }}</i>
        {{ 'custom.auth.sign-up.error-pwd-special' | translate }}
      </label>
    
      <div class="row">
        <mat-form-field class="row">
          <input matInput placeholder="{{ 'custom.auth.sign-up.pwd-label' | translate }}"
            formControlName="pwd" type="password" autocomplete="new-password">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col">
          <input matInput placeholder="{{ 'custom.auth.sign-up.pwd-confirm-label' | translate }}"
            formControlName="pwdConfirm" type="password">
          <mat-error>
            {{ 'custom.auth.sign-up.error-pwd-confirm' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <!--
        END PASSWORD ////////////////////////////////////////////////////////////
      -->
      <div class="row justify-content-end">
        <div class="col">
          <button mat-raised-button color="primary" class="btn-normal" [disabled]="form.invalid">
            {{ 'custom.auth.otp-send-button' | translate }}
          </button>
        </div>  
      </div>
  
      </mat-card>
    
    </form>
  