<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'bizniz.title.long' | translate }}</h1>
      <div class="actions">
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        
      </div>
      <div class="text-center">
        
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <mat-card>
      <mat-card-title class="text-center">Upcoming...</mat-card-title>
      <hr>
      <ol>
        <li>Business profiles</li>
        <li>Asset management</li>
        <li>Personnel onboarding</li>
        <li>1099 settlements</li>
        <li>W2 settements</li>
        <li>Billing</li>
        <li>Dispatching with GPS</li>
        <li>Mapping</li>
        <li>FMCSA compliance</li>
      </ol>
    </mat-card>
    
  </div>
</div>
<div class="container" rtl>
  <div class="contributors" [ngClass]="routeAnimationsElements">
    <div class="contributors-wrapper">
      
      <!-- ALL-CONTRIBUTORS-LIST:START -->
      <!-- ALL-CONTRIBUTORS-LIST:END -->

    </div>
  </div>
</div>
