
.user-image { 
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
} 

.user-image img { 
  display: relative;
  margin: 0 auto;
  height: 100%;
  width: auto;    
}
