
<div class="modal-dialog">

  <div class="row">
    <div class="col align-right pointer">
      <mat-icon class="text-danger" (click)="onNoClick()">cancel</mat-icon>
    </div>
  </div>
  <ng-container *ngIf="(profile$ | async); let p">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-12 user-picture">
            <div class="user-image">
            <img alt src="{{ p.profilePicture }}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <h2>{{ p.firstName }} {{ p.middleName }} {{ p.lastName }} {{ p.suffix }}</h2>
      </div>
    </div>
    
    <form [formGroup]="editPermissions">
      <div class="row">
        <div class="col align-center">
          <h3>Employee Privileges</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col col-12 col-sm-6">
          <mat-checkbox formControlName="employeeCtrl" [disabled]="true">Employee</mat-checkbox>
        </div>
        <div class="col col-12 col-sm-6">
          <mat-checkbox formControlName="driverCtrl">Driver</mat-checkbox>
        </div>
      </div>
      
      <hr>
      
      <div class="row">
        <div class="col align-center">
          <h3>Operations Privileges</h3>
        </div>
      </div>

      <div class="row">
        <div class="col col-12 col-sm-4">
          <mat-checkbox formControlName="hrCtrl" [disabled]="data.isDisabled">Human Resources</mat-checkbox>
        </div>
        <div class="col col-12 col-sm-4">
          <mat-checkbox formControlName="dispatchingCtrl" [disabled]="data.isDisabled">Dispatching</mat-checkbox>
        </div>
        <div class="col col-12 col-sm-4">
          <mat-checkbox formControlName="assetsCtrl" [disabled]="data.isDisabled">Assets</mat-checkbox>
        </div>
      </div>
      
      <hr>

      <div class="row">
        <div class="col align-center">
          <h3>Full Access</h3>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="adminCtrl" [disabled]="data.isDisabled">Administrator</mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button mat-raised-button color="primary" class="btn-main"
                type="button" (click)="onEditPermissionsClick()"
          >
          Change Permissions
          </button>
        </div>
      </div>

    </form>


    <div class="row" >
      <div class="col">
        
        <button mat-button class="btn-normal" type="button" 
              (click)="onNoClick()" >
          Cancel
        </button>
      </div>
    </div>
  </ng-container>
</div>
