


<form [formGroup]="form" (ngSubmit)="onSendOtp()">
    <mat-card>
      <mat-card-title>{{ 'custom.auth.reset-password.title' | translate }}</mat-card-title>
      
                
        <div class="row">
            <mat-form-field class="col">
            <input matInput placeholder="{{ 'custom.username-label' | translate }}"
                formControlName="username" type="username" id="username"
                [ngClass]="routeAnimationsElements">
            <mat-error *ngIf="form.get('username')?.hasError('required')">
                
                {{ 'custom.auth.reset-password.username-error' | translate }}
            </mat-error>
            
            </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col" [ngClass]="routeAnimationsElements">
            <input matInput placeholder="{{ 'custom.auth.reset-password.address-label' | translate }}"
              formControlName="address">
              
          </mat-form-field>
        </div>
    
        <label class="row form-element" [ngClass]="form.get('address').hasError('required') || form.get('address').hasError('validAddress')  ? 'text-danger' : 'text-success'">
        <i class="material-icons">{{ form.get('address').hasError('required') ||
            form.get('address').hasError('validAddress') ? 'cancel' :
            'check_circle' }}</i>
        {{ 'custom.auth.error-address' | translate }}
        </label>
    
        
        <div class="row justify-content-end">
          <div class="col">
            <button mat-raised-button color="primary" class="btn-wide" [ngClass]="routeAnimationsElements" 
              [disabled]="form.invalid" type="submit">
              {{ 'custom.auth.otp-send-button' | translate }}
            </button>
          </div>
        </div>
      
    </mat-card>
  
  </form>
    
  