<mat-toolbar class="toolbar dashboard-toolbar align-bottom w-100 p-0 ml-0 mr-0">
    <form class="w-100 h-100">
      <div class="container d-flex ms-3">
        <div class="row align-items-end w-100 mb-3">
          <div class="col-5 toolbar-control mb-3">
            Dashboard home toolbar
          </div>
        </div>
      </div>
    </form>
  </mat-toolbar>
  
<p>Be patient. This feature is still in development.</p>


<div class="col">
    <button mat-raised-button color="primary" class="btn-main"
          type="button" (click)="onSetAsDefaultClick()"
    >
    Set as Default
    </button>

</div>