.btn-normal {
    width: 100px;
    height: 40px;
}
.btn-wide {
    width: 200px;
    height: 40px;
}
.row {
    padding-bottom: 5px;
    margin-bottom: 5px;
}


.btn-main {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 200px;
    height: 50px;
}

.btn-main-3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 250px;
    height: 50px;
}

.nav-button:hover {
    color: rgb(33, 150, 243);
}