<!--
<mat-card>
    <div class="container">
      <mat-card-title>
      -->
        <h3>{{ 'custom.user.profile.security.change-password-title' | translate }}</h3>
      <!--
      </mat-card-title>
    </div>    

    <hr>
    <mat-card-content>
    -->
      <div class="container">
        <form [formGroup]="form" submit="onUpdate()">        
            <!--
                PASSWORD ////////////////////////////////////////////////////////////////
            -->
            
            <div class="row">
                <mat-form-field class="row" [ngClass]="routeAnimationsElements">
                <input matInput placeholder="{{ 'custom.user.profile.change-password.current-password-label' | translate }}"
                    formControlName="currentPwd" type="password" autocomplete="current-password">
                </mat-form-field>
            </div>

            <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ form.get('pwd').hasError('required') ||
                form.get('pwd').hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
                {{ 'custom.auth.sign-up.error-pwd-length' | translate }}
            </label>
            
            <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ form.get('pwd').hasError('required') ||
                form.get('pwd').hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
                {{ 'custom.auth.sign-up.error-pwd-number' | translate }}
            </label>
            
            <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ form.get('pwd').hasError('required') ||
                form.get('pwd').hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
                {{ 'custom.auth.sign-up.error-pwd-capital' | translate }}
            </label>

            <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ form.get('pwd').hasError('required') ||
                form.get('pwd').hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
                {{ 'custom.auth.sign-up.error-pwd-small' | translate }}
            </label>

            <label class="row form-element" [ngClass]="form.get('pwd').hasError('required') || form.get('pwd').hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ form.get('pwd').hasError('required') ||
                form.get('pwd').hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
                {{ 'custom.auth.sign-up.error-pwd-special' | translate }}
            </label>
        
            <div class="row">
                <mat-form-field class="row" [ngClass]="routeAnimationsElements">
                <input matInput placeholder="{{ 'custom.user.profile.change-password.new-password-label' | translate }}"
                    formControlName="pwd" type="password" autocomplete="new-password">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                <input matInput placeholder="{{ 'custom.auth.sign-up.pwd-confirm-label' | translate }}"
                    formControlName="pwdConfirm" type="password">
                <mat-error>
                    {{ 'custom.auth.sign-up.error-pwd-confirm' | translate }}
                </mat-error>
                </mat-form-field>
            </div>

            
            <!--
                END PASSWORD ////////////////////////////////////////////////////////////
            -->
              
        <div class="row justify-content-end">
            <div class="col">
                <button mat-raised-button color="primary" class="btn-normal" 
                        [ngClass]="routeAnimationsElements" 
                        [disabled]="form.invalid" 
                        (click)="onUpdate()"
                        type="submit">
                {{ 'custom.user.profile.security.change-password-button' | translate }}
                </button>
            </div>
      </div>
  
        </form>
      </div>
<!--  
</mat-card-content>
</mat-card>
-->  